@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100&display=swap');

body{
    font-family: 'Roboto', sans-serif;
}

.container-list{
    img {
        border-radius: 50%;
        border: 1px solid black;
    }
}

.container-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    div{
        h1{
            font-size: 34px;
            font-weight: 500;
        }
        h6{
            font-size: 24px;
            color: #919191;
            font-weight: 300;
        }

        mat-form-field{
            mat-icon{
                cursor: pointer;
            }
        }
    }
}

.container-body{
    margin-inline: 5rem;
    padding: 1rem;
    background-color: white;

    button{
        border: none;
        background-color: white;
        font-size: 18px;
        color: #bdbdbd;
        cursor: pointer;
    }
    
}


.card-pokemon{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-transform: capitalize;


    div{
        margin-left: 10px; 
        width: 100%;
        cursor: pointer;
    }

    button{
        background-color: green;
        border-radius: 8px;
        font-size: 12px;
        padding: .5rem;
        color: #f9f9f9;
    }

    span:first-child{
        font-weight: 500;
        font-size: 18px;
    }

}

@media screen and (max-width: 700px){
    .container-header{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .navbar{
        padding-inline: 1rem;
    }

    .container-list{
        img{
            max-width: 20px;
            max-height: 20px;
        }
    }

    .container-body{
        margin-inline: 0;
    }

    .card-pokemon{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;    

        img{
            max-width: 100%;
            max-height: 100%;
        }

    }
}