.navbar {
    overflow: hidden;
    background-color: black;
    height: 5rem;
    font-family: Arial;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 5rem;
}

.footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;

    span{
        color: white;
    }
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.logo{
    color: white;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
    background-color: red;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}


.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}


.dropdown-content a:hover {
    background-color: #ddd;
}


.dropdown:hover .dropdown-content {
    display: block;
}

.container-list{
    img {
        border-radius: 50%;
        border: 1px solid black;
    }
}

.container-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    div{
        h1{
            font-size: 34px;
            font-weight: 500;
        }
        h6{
            font-size: 24px;
            color: #919191;
            font-weight: 300;
        }

        mat-form-field{
            mat-icon{
                cursor: pointer;
            }
        }
    }
}

.container-body{
    margin-inline: 5rem;
    padding: 1rem;
    background-color: white;

    button{
        border: none;
        background-color: white;
        font-size: 18px;
        color: #bdbdbd;
        cursor: pointer;
    }
    
}


.card-pokemon{
    display: flex;
    flex-direction: row;
    align-items: center;

    span:first-child{
        font-weight: 500;
        font-size: 18px;
    }

}

